<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Здравствуйте, {{username}}!</h1>
    <p>
        За последний месяц Вы посмотрели {{movies_count}} фильмов!
    </p>
    <p>
        Из них {{detectives_count}} детективов.
    </p>
</body>
</html>
